
/*base styles*/
body {
  font-family: sans-serif;
  margin: 0px auto;
}

input {
  display: inline-block;
  border: solid gray 1px;
  width: 60%;
}

/*text styles*/
h1 {
  /*color: #759925;*/
  font-size: .9rem;
  margin-bottom: 10px;
  /*letter-spacing: .15em;*/
}

h2 {
  font-size: .9rem;
  margin-bottom: 5px;
}

h3 {
  font-size: 1rem;
  margin-bottom: 5px;
}

h4 {
  font-size: 1rem;
  margin-bottom: 0;
}

p {
  margin-bottom: 5px;
  font-size: .3em;
}


/* link styles */

a {
  text-decoration: none;
  color: #edeec9
}

a:hover {
  /*background-color: #FFF392;*/
}

/* button styles */
button {
  background-color:#ABCC61;
  color: white;
  border: solid #ABCC61 2px;
  margin: 6px;
}

button:hover {
  background-color: white;
  color: #ABCC61;
}
