
/*navigation*/

#navigation {
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  overflow: hidden;
}

#navigation h1 {
  display: inline-block;
  margin-top: 10px;
  width: 50%;
}

#navigation ul {
  font-size: .8em;
  text-align: right;
  display: inline-block;
  float: right;
  width: 45%;
  position: absolute;;
  bottom: 0;
  color: #B9B1A8;
}

#navigation ul li {
  display: inline-block;
  padding: 4px;
  margin: 4px;
}

#navigation a{
  color: #2f343b;
}

#logo {
  height: 25px;
  weight: 25px;
  border-radius: 50%;
}

#AG_logo {
  border-radius: 50%;
  float: left;
  padding: 5px;
}

#complaint_logo {
  height: 3%;
  width: 6%;
  border-radius: 25%;
  opacity: 0.8;
}

#header-text {
  color: #4B4D52;
}

#enter-name-alert {
  color: red;
}

/*results*/
#results{
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;

}

#results h4{
  margin-bottom: 5px;
  color: #4B4D52;
}

#results li{
  color: #5e4d52;
}

.company-name {
  font-weight: bold;
}

.address{
  margin-bottom: 20px;
}

.address li {
  font-style: italic;
  margin-bottom: .3em;
  font-size: .7rem;
}

.meta-results li {
  margin-bottom: .3em;
  font-size: .7rem;
}

.search-home {
  text-align: center;
  margin: auto;
  margin-top: 5em;

}

.search-results {
  margin-top: 0px;
  width: 80%;
  margin: auto;
  margin-bottom: 2em;
}

.search-results-button{
  display: inline !important;
  width: inherit !important;
}

/*searchbar*/
.ui-autocomplete {
  background: white;
}

.ui-menu-item:hover {
  background: #DE8642;
}

li.ui-menu-item {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: .8em;
}

.hidden {
  display: none;
}

/*about*/
.block team-paragraph {
  display: inline-block;
  float: left;
}

@media only screen and (min-width: 675px) {
  h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
  }

  a {
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    color: #766151;
  }

  p {
    font-size: .8em;
    width: 50%;
  }

  h2 {
    font-size: 1rem;
  }

  #complaint_logo {
    height: 5%;
    width: 7%;
    border-radius: 25%;
    opacity: 0.8;
  }

  #logo {
    height: 75px;
    weight: 75px;
  }

  .search-home {
    margin-top: 10em;
    max-width: 60%;
  }

  .search-results {
    width: 80%;
  }

  #search-form input{
    max-width: 60%;
    height: 26px !important;
    font-size: 1.2em;
  }

  #search-form h2{
    font-size: 1.6rem;
    margin-bottom: 20px;
  }

  #search-button {
    width: 30%;
    font-size: 1.1rem;
    display: block;
    margin: auto;
  }

  .search-results-button{
    height: 30px;
  }

  #results{
    margin: auto;
  }

  #results-by-Name{
    width: 40%;
    margin: auto;
  }

  #results-by-Name h4{
    font-size: 1.6rem;
  }

  #results-by-Category{
    width: 60%;
    margin: auto;
  }

  .business-results{
    margin-bottom: 20px;
  }

  #results-by-Category h4{
    font-size: 1.2rem;
  }

  #results li{
    font-size: 1rem;
  }

  #business_name {
    width: 72%;
  }

}
