
/*navigation*/

#navigation {
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  overflow: hidden;
}

#navigation h1 {
  display: inline-block;
  margin-top: 10px;
  width: 50%;
}

#navigation ul {
  font-size: .8em;
  text-align: right;
  display: inline-block;
  float: right;
  width: 45%;
  position: absolute;;
  bottom: 0;
  /*color: #edeec9;*/
}

#navigation ul li {
  display: inline-block;
  padding: 4px;
  margin: 4px;
}

#navigation a{
  color: #2f343b;
}

/*results*/
.company-name {
  font-weight: bold;
}

.address li {
  font-style: italic;
  margin-bottom: .3em;
}

.meta-results li {
  margin-bottom: .3em;
}

.search-home {
  text-align: center;
  margin: auto;
  margin-top: 5em;
}

.search-results {
  margin-top: 0px;
  width: 60%;
  margin: auto;

}

/*searchbar*/
.ui-autocomplete {
  background: white;
}

.ui-menu-item:hover {
  background: #ABCC61;
}

li.ui-menu-item {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: .8em;
}

.hidden {
  display: none;
}
